table.maintab{
	width: 100%;

}
table.maintab {
    background-color: yellowgreen;
}

td.footertab {
    width: 100px;
    height: 100px;
    background-color: lightpink;
}
td.headtab {
    height: 100px;
    background-color: skyblue;
}
tr.middle {
    height: 400px;
}
td.leftsidebar {
    width: 22%;
    background-color: #F44336;
}
a {
    color: white;
    border: 3px solid;
}
li {
    margin-top: 15px;
}
a {
    color: white;
    border: 3px solid;
    padding: 6px;
    border-radius: 7px;
    font-family: cursive;
    text-decoration: none;
}

li {
    padding: 30px;
}

.fromdiv {
    margin-left: 34%;
    margin-top: 3%;
    border: 3px solid;
    width: 40%;
    background-color: aliceblue;
    padding: 10px;
}

element.style {
    text-align: center;
}

a:hover {
    color: black;
    background-color: white;
    font-weight: bold;
}


img {
    
    height: 69px;
    padding: 12px;
}